


/* ---------- TAG ---------- */
.tagger-wrapper {
	background: rgba(#f00, .5);
	position: absolute;
}
.tagger-tag {
	background-color:rgba(3,142,233,.15);
	border-color: #038ee9 !important;
	box-shadow: 0 0 3px #038ee9, inset 0 0 3px #038ee9;
	transition: background-color .25s;
	border-radius: 3px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
}

.tagger-tag:hover {
	background-color:rgba(3,142,233,.3);
	border-color: #038ee9 !important;
	box-shadow: 0 0 3px #038ee9, inset 0 0 3px #038ee9;
}
.tagger-dot {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
	width: 16px;
	height: 16px;
	background: #038ee9;
	border-radius: 8px;
	box-shadow: 0 0 3px #038ee9;
	cursor: pointer;
}


/* ---------- INFO PANEL ---------- */
.tagger-info-panel {
	background-color: white;
	border-radius: 10px;
	box-shadow: 10px 10px 5px rgba(0,0,0,.25);
	position: relative;
	width: 250px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #666;
	font-size: 13px;
	cursor: default;
}

.tagger-info-panel * {
	box-sizing: border-box;
}

.tagger-tip {
	position: absolute;
	top: 23px;
	left: -16px;
	width: 16px;
	height: 26px;
}

.tagger-tip svg {
	width: 100%;
}


.tagger-row {
	position: relative;
	border-top: 1px solid #eee;
	*zoom: 1;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.tagger-row:first-child {
	border-top: none;
}

.tagger-row:after {
	content: "";
	display: table;
	clear: both;
}

.tagger-row label {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
	padding-left: 10px;
	height: 36px;
}

.tagger-row .tagger-input {
	display: table-cell;
	border-left: 1px solid #eee;
	width: 60%;
}

.tagger-row .tagger-input span {
	display: block;
	padding: 11px 10px 10px;
}

.tagger-row input[type=text], .tagger-row input[type=submit], .tagger-row textarea, a.view-product {
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	background: none;
	width: 100%;
}

.tagger-row input[type=text] {
	height: 36px;
	text-indent: 10px;
}

.tagger-row textarea {
	height: 100px;
	padding: 10px;
	resize: none;
}

.tagger-row.tagger-buttons {
	border: none;
}

.tagger-row input[type=submit], a.view-product {
	background: #52ad29;
	color: #fff;
	height: 36px;
	font-size: 16px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
}

.tagger-row .tagger-cancel {
	display: none;
}

a.view-product {
	display: block;
	line-height: 36px;
	text-align: center;
	background: #038ee9;
	text-decoration: none;
}



/* ---------- BUTTONS ---------- */
.tagger-icon {
	border-radius: 12px;
	padding: 6px;
	cursor: pointer;
}

.tagger-icon svg {
	height: 10px;
	width: 10px;
}

.tagger-icon svg path {
	fill: #fff;
}

.tagger-close {
	position: absolute;
	top: -11px;
	right: -11px;
	background: #038ee9;
}

.tagger-delete {
	position: absolute;
	top: -11px;
	right: 16px;
	background: #db4424;
	padding: 5px;
}

.tagger-delete svg {
	width: 12px;
	height: 12px;
}